<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="mystyle">
    <style>
        table {
            border: 1px solid red;
            width: 75%;
            margin: 0 auto;
            text-align: center;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
        }

        thead td:nth-child(1) {
            border: none;
            text-align: right;
        }

        .pgnav {
            border: none;
        }

        .cpage {
            color: red;
            font-weight: bold;
            font-size: 20px;
        }

        td:nth-child(2) {
            text-align: left;
        }

        .alignleft {
            display: inline-block;
            width: 89%;
            text-align: left;
        }
    
    
    </style>

</th:block>

<th:block layout:fragment="main">
    <div id="main" th:with="cpg=${(param.cpg == null)?1:T(java.lang.Integer).parseInt(param.cpg)}">
        <h1 th:with="qry=(${#httpServletRequest.queryString})">게시판 목록([[${stpgn}]] / [[${pages}]] / [[${param.fkey}]] / [[${param.fval}]] / [[${qry}]])</h1>
        <table>
            <colgroup>
                <col style="width: 10%">
                <col style="width: 50%">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 10%">
            </colgroup>
            <thead>
            <tr>
                <td colspan="5">
                    <!--                    <p th:if="${session.isEmpty()}"></p>-->
                    <!--                    <button th:unless="${session.isEmpty()}" type="button" id="newbtn">글쓰기</button>-->
                    <span class="alignleft" th:if="${session.mvo != null}">
                        <select name="fkey" id="fkey">
                            <option value="title">제목</option>
                            <option value="userid">작성자</option>
                            <option value="contents">내용</option>
                        </select>
                        <input type="text" name="fval" id="fval"/>
                        <button type="button" id="findbtn">검색</button>
                    </span>
                    
                    <button th:disabled="${session.mvo == null}" type="button" id="newbtn">글쓰기</button>
                </td>
            </tr>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="b:${boardList}">
                <td th:text="${b.bno}"></td>
                <td><a th:text="${b.title}" th:href="@{/view(bno=${b.bno})}"></a></td>
                <td th:text="${b.userid}"></td>
                <td th:text="${#strings.substring(b.regdate,0,10)}"></td>
                <td th:text="${b.views}"></td>
            </tr>
            <tr>
                <td class="pgnav" colspan="5">
                    <a th:if="${cpg!=1}" th:href="@{'/list?cpg=1' + ${fqry}}">[처음]</a>
                    <a th:if="${cpg>1}"  th:href="@{'/list?cpg='+${cpg - 1}+${fqry}}">[이전]</a>
                    <a th:if="${cpg>10}" th:href="@{'/list?cpg='+${cpg - 10}+${fqry}}">[이전10]</a>
                    <th:block th:each=" i: ${#numbers.sequence(0,9) }">
                        <th:block th:if="${(stpgn + i) <= pages}">
                            <span th:text="${stpgn + i}" th:if="${cpg == (stpgn + i)}" class="cpage"></span>
                            <span th:unless="${cpg == (stpgn + i)}">
                            <a th:href="@{'/list?cpg='+${stpgn + i}+${fqry}}">[[${stpgn + i}]]</a>
                        </span>
                        </th:block>
                    </th:block>
                    <a th:if="${cpg < pages}" th:href="@{'/list?cpg='+${cpg + 1}+${fqry}}">[다음]</a>
                    <a th:if="${cpg < (pages - 10)}"
                       th:href="@{'/list?cpg='+${cpg + 10}+${fqry}}">[다음10]</a>
                    <a th:if="${cpg < pages}"
                       th:href="@{'/list?cpg='+${pages}+${fqry}}">[끝]</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</th:block>

<th:block layout:fragment="myscript">
    <script>
        let newbtn = document.getElementById("newbtn").addEventListener("click", function () {
            location.href = "/write";
        })
        
        // EMCAscript 2020 지원시 - 최신 브라우저 사용시
        // Cannot read properties of null 세련되게 처리하기
        // optional chaining 사용 -> 객체명?.addEventListener
        // 검색시 요청 url = /list?fkey=title&fval=테스트
        let fintbtn = document.getElementById("findbtn")?.addEventListener("click", () => {
            let fkey = document.querySelector('#fkey');
            let fval = document.querySelector('#fval');
            if (fval.value == '') {
                alert('검색할 내용을 입력하세요');
            } else {
                let qry = '?fkey=' + fkey.value;
                qry += '&fval=' + fval.value;
                location.href = "/list" + qry;
            }
        })
    
    </script>

</th:block>