<html xmlns:th="http:www.thymeleaf.org">

<header>
    <h1>Spring MVC 프로젝트 V1</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="join">회원가입</a></li>
            
            <li th:if="${session.isEmpty()}"><a href="/login">로그인</a></li>
            <li th:unless="${session.isEmpty()}"><a href="/logout">로그아웃</a></li>
            
            <li><a href="/list">게시판</a></li>
            <li><a href="/myinfo">회원정보</a></li>
        </ul>
    </nav>
    <hr>
</header>