<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>세미 프로젝트 V1</title>
    <link th:href="@{/static/css/base.css}" rel="stylesheet">
    <th:block layout:fragment="mystyle"></th:block>
</head>
<body>
    <div id="container">
        <th:block th:replace="fragments/header :: header"></th:block>
        
        <th:block layout:fragment="main"></th:block>
        
        <th:block th:replace="fragments/footer :: footer"></th:block>
    </div>
    <script th:href="@{/static/css/base.js}" rel="stylesheet"></script>
    <th:block layout:fragment="myscript"></th:block>
</body>
</html>