<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link th:href="@{/static/css/base.css}" rel="stylesheet">
    <style>
        /* 회원가입폼에 대한 스타일 */
        #join{
            border: 1px solid blue;
            width: 300px;
            margin: 0 auto;
        }
        #join div{
            margin-bottom: 10px;
        }
        #join label{
            width: 110px;
            display: inline-block;
            text-align: right;
            font-weight: bold;
            padding: 3px;
        }
        #okbtn {
            margin-left: 120px;
        }
        
    </style>
</head>
<body>
<th:block th:include="layout/header"></th:block>

<div id="main">
    <h1>회원가입</h1>
    <form name="join" id="join">
        <div>
            <label for="uid">아이디</label>
            <input type="text" name="userid" id="uid">
        </div>
        <div>
            <label for="pwd">비밀번호</label>
            <input type="password" name="passwd" id="pwd">
        </div>
        <div>
            <label for="rpw">비밀번호 확인</label>
            <input type="password" name="rpw" id="rpw">
        </div>
        <div>
            <label for="nm">이름</label>
            <input type="text" name="name" id="nm">
        </div>
        <div>
            <label for="eml">이메일</label>
            <input type="text" name="email" id="eml">
        </div>
        <div>
            <button type="button" id="okbtn">입력완료</button>
            <button type="reset">다시입력</button>
        </div>
    </form>
</div>

<th:block th:include="layout/footer"></th:block>

<script>
    let okbtn = document.getElementById("okbtn");
    okbtn.addEventListener("click", checkJoinFrm);

    function checkJoinFrm() {
        let uid = document.getElementById("uid");
        let pwd = document.getElementById("pwd");
        let rpw = document.getElementById("rpw");
        let nm = document.getElementById("nm");
        let eml = document.getElementById("eml");
    
        if (uid.value == '') {
            alert("아이디를 입력하세요!!");
        } else if (pwd.value == '') {
            alert("비밀번호를 입력하세요!!");
        } else if (rpw.value == '') {
            alert("비밀번호 확인을 입력하세요!!");
        } else if (pwd.value != rpw.value) {
            alert("비밀번호가 일치하지 않습니다!!");
        }else if (nm.value == '') {
            alert("이름을 입력하세요!!");
        } else if (eml.value == '') {
            alert("이메일을 입력하세요!!");
        } else {
            const frm = document.join;
            frm.method = 'post';
            frm.submit();
        }
    }
    
</script>
</body>
</html>