<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link th:href="@{/static/css/base.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
<th:block th:include="layout/header"></th:block>
<div id="main">
    <h1>로그인 실패</h1>
    <div style="text-align: center">
        <i class="bi bi-x-circle-fill" style="font-size: 10rem; color: red"></i>
        <div>입력하신 아이디와 비밀번호가 일치하는 회원정보를 찾지 못 했습니다!</div>
    </div>

<th:block th:include="layout/footer"></th:block>
</div>

</body>
</html>