<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link th:href="@{/static/css/base.css}" rel="stylesheet">
    <style>
        #login {
            width: 300px;
            margin: 0 auto;
        }

        #login div {
            margin-bottom: 10px;
        }

        #login label {
            width: 100px;
            display: inline-block;
            text-align: right;
            font-weight: bold;
        }

        #loginbtn {
            margin-left: 105px;
        }
    </style>
</head>
<body>
<th:block th:include="layout/header"></th:block>
<div id="main">
    <h1>로그인</h1>
    <form name="login" id="login">
        <div>
            <label for="uid">아이디</label>
            <input type="text" name="userid" id="uid">
        </div>
        <div>
            <label for="pwd">패스워드</label>
            <input type="password" name="passwd" id="pwd">
        </div>
        <div>
            <button type="button" id="loginbtn">로그인</button>
        </div>
    </form>
</div>
<th:block th:include="layout/footer"></th:block>


<script>
    let loginbtn = document.getElementById("loginbtn");
    loginbtn.addEventListener("click", checkLoginFrm);
    
    function checkLoginFrm() {
        const frm = document.login;
        
        if (frm.userid.value == '') {
            alert("아이디를 입력해주세요!!")
        } else if (frm.passwd.value == '') {
            alert("비밀번호를 입력해주세요!!")
        } else {
            
            frm.method = "post";
            frm.submit();
        }
    }


</script>
</body>
</html>